### <!-- BEGIN LAMBDA_DEPENDENCIES --!> ###
#fsspec
#s3fs
### <!-- END LAMBDA_DEPENDENCIES --!> ###

### <!-- BEGIN DATA_DEPENDENCIES --!> ###
pandas
awswrangler
### <!-- END DATA_DEPENDENCIES --!> ###
